PORT=8097
BAAS_API_KEY=change-me-in-operator-env-never-commit
X402_GATEWAY_URL=http://127.0.0.1:4020
X402_DEV_MOCK_VERIFY=true
TTN_LAUNCHER_URL=http://127.0.0.1:8092
EXCHANGE_OS_URL=http://127.0.0.1:8091
